*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #001429;
    background-image: linear-gradient(180deg, #001429 12%, #004a6f 96%);
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(6,1fr);
}

.navBar {
    border-bottom: 1px solid wheat;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    box-shadow: -12px -8px 40px rgba(255, 255, 255, 0.12) inset;

}
.leftPanel {
    border-right: 1px solid wheat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 11;
}
.mainArea {
    grid-row-start: 2;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 7;
}
.logoBox{
    display: flex;
}
.logoBox h1{
    height: 4rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.logoBox h1 a{
    color: white;
    font-family: cursive;
    font-size: 1.5rem;
    transition: all 0.3s;

}
.logoBox h1 a:hover{
    color: palevioletred;
}
.logoBox img{
    width: 7rem;
    height: 5rem;
}

.loginArea {
    display: flex;
    margin-left: 12rem;
}
.loginArea img{
    height: 3.5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
}
.loginArea h2{
    color: rgb(175, 175, 175);
    margin-top: 1.7rem;    
}
.profile{
    margin-left: 6rem;
}
.NavBox{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}
.NavBox a{
    color: rgb(180, 180, 180);
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.NavBox a:hover{
    background-color: rgba(216, 112, 147, 0.299);
    color: white;
    border-radius: 2rem;
}

/* LEFT PANEL */

.form{
    display: flex;
    align-items: center;
    justify-self: center;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    padding: 10px 20px;
    margin: auto 0.5rem;
}
.form button{
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 50%;
    background:rgba(148, 216, 255, 0.641) ;
    cursor: pointer;
    backdrop-filter: blur(4px) saturate(180%);
}
.form button img{
    width: 2rem;
}
.form input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 6px 10px;
    font-size: 15px;
    color: #e1e1e1;
}
::placeholder{
    color: #e1e1e1;
}

.categories{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.categories a{
    height: 20rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    margin-left: 1.5rem;
}
.categories  a img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 0.7rem;
}
.categories a:hover{
    transform: scale(1.05);
}
.categories a h1{
    color: white;
    font-size: 1.3rem;
}
.categories a h1:hover{
    color: wheat
}

/* Main area */

/* card */
.FlexBox{
    display: flex;
}
.cardBox{
    padding: 2rem;
}
.card{
    background-color: rgba(130, 120, 144, 0.6);
    width: 70%;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}
.top{
    display: flex;
}
.top img{
    background-color: white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
}
.top a{
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.top a:hover{
    color: rgb(154, 154, 255);
    text-decoration: underline;
}
.top h1{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 35rem;
}
.card h2{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.675);
    margin-left: 4rem;
    margin-bottom: 1.5rem;
}
.lower{
    display: flex;
}
.likebutton{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-top: 0.3rem;
    border: none;
    background: transparent;
}
.likebutton img{
    width: 100%;
    height: 100%;
}
.form input::placeholder{
    color: rgba(252, 238, 238, 0.668);
    font-size: 0.8rem;
}
.Commentform{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    padding: 10px 20px;
    margin: auto 1rem;
    width: 85%;
    display: flex;
    height: 2rem;
}
.Commentform input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 6px 10px;
    font-size: 15px;
    color: #e1e1e1;
    width: 80%;
}
.Commentform input::placeholder{
    color: rgba(212, 212, 212, 0.75);
    font-size: 0.8rem;
}
.buttonsend{
    width: 4.5rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsend img{
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    width: 100%;
    height: 100%;
}

/* heading */
.heading{
    color: white;
    font-size: 2rem;
    font-family: cursive;
    margin-left: 3rem;
    margin-bottom: 2rem;
}
.heading:hover{
    color: #00bfffda;
}
/* Post */
.postForm{
    width: 60%;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    margin-left: 6rem;
    margin-bottom: 2rem;
    display: flex;
}
.postFormInput{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: none;
    background-color: rgba(199, 199, 199, 0.462);
    padding-left: 2rem;
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    box-shadow: 0 7px 15px 0 rgba(255, 255, 255, 0.13), 0 1px 4px 0 rgba(255, 255, 255, 0.11);
}
.postFormInput::placeholder{
    color: #e1e1e195;
}
.postButton{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left:-3.5rem;
    margin-top: 0.5rem;
    background-color:rgba(199, 199, 199, 0.462);
}
.postButton img{
    width: 100%;
    height: 100%;
}